//WORK SECTION

.work-section {
	margin: auto 12rem;
	h1 {
		margin: 0 0 4rem 12rem;
	}
}
.work-wrapper {
	margin: auto auto auto 12rem;
	@include flex(space-evenly, space-evenly, row);
	flex-wrap: wrap;
}
.work-card {
	background-color: $dark-card-color;
	width: 50rem;
	border-radius: 1rem;
	padding: 2rem 4rem;
	margin-bottom: 4rem;
	@include shadow();
	@include flex(space-around, center, column);
	h2,
	h4,
	p {
		margin-bottom: 4rem;
	}
}

.social-card {
	margin-bottom: 8rem;
	.social-icon svg {
		width: 5rem;
		height: auto;
	}
	@include flex(space-around, center, row);
	@include expand();
}

//SHOWCASE SECTION

.showcase-title {
	margin-left: 12rem;
	position: absolute;
	top: -1rem;
	left: 10%;
	z-index: 10;
	transform: rotateZ(8deg);
}
.showcase {
	// transform: rotateZ(20deg);
	position: relative;
	margin-bottom: 4rem;
}
.showcase-wrapper {
	background-color: $prim-text-color;
	clip-path: polygon(0 0, 100% 30%, 100% 100%, 0 70%);
	height: 90rem;
	margin-left: 9rem;
	@include flex(center, center, row);
	flex-wrap: wrap;
	overflow-x: hidden;
}

.showcase-cards {
	width: 80%;
	margin: auto;
	@include flex(center, center, row);
}

.showcase-card {
	background-color: white;
	border: 1px solid #e8e8e8;
	flex: 1 1 20rem;
	width: 50%;
	padding: 2rem;
	margin: 0rem 6rem;
	border-radius: 1rem;
	text-align: center;
	// transform: rotateZ(-20deg);
	h3,
	p {
		color: $grey-text;
		margin-bottom: 4rem;
	}
	a {
		font-size: 1.8rem;
		font-weight: 600;
		position: relative;
	}
	h3,
	a {
		color: $sec-text-color;
	}
	a::before {
		content: "";
		position: absolute;
		width: 100%;
		height: 2px;
		bottom: 0;
		left: 0;
		background-color: $sec-text-color;
		visibility: hidden;
		transform: scaleX(0);
		transition: all 0.3s ease-in-out 0s;
	}
	a:hover::before {
		visibility: visible;
		transform: scaleX(1);
	}
	@include shadow();
	@include flex(space-around, center, column);
}

.showcase1 {
	margin-bottom: 15rem;
}

.showcase3 {
	margin-top: 15rem;
}

// Skills Section

.skills-section {
	width: 80%;
	margin: auto auto auto 12rem;
	h1 {
		margin-bottom: 4rem;
		margin-left: 12rem;
	}
	// ul {
	// 	list-style: none;
	// 	padding: 0;
	// }
	// li {
	// 	padding-left: 1.3rem;
	// }
	// li:before {
	// 	content: "\f00c";
	// 	font-family: FontAwesome;
	// 	display: inline-block;
	// 	margin-left: -1.3rem;
	// 	width: 1.3rem;
	// }
}

.skills-wrapper {
	margin-left: 12rem;

	@include flex(center, center, row);
}

.skills-column-1 {
	@include flex(center, center, column);
	flex: 1 1 20rem;
}
.skills-column-2 {
	@include flex(center, center, column);
	flex: 1 1 20rem;
}
.skills-card {
	background-color: $dark-card-color;
	border-radius: 0.6rem;
	width: 50%;
	height: auto;
	padding: 5rem 4rem;
	margin: 4rem 0rem;
	h3 {
		margin-bottom: 2rem;
	}
	@include shadow();
	@include flex(center, center, column);
}

.skills-quote {
	opacity: 0.5;
	width: 30%;
	text-align: center;
}

@media screen and (max-width: 1000px) {
	nav {
		display: none;
	}
	.work-wrapper {
		margin: auto;
		@include flex(center, center, row);
		flex-wrap: wrap;
	}
	.work-section {
		margin: 0;
		h1 {
			text-align: center;
		}
	}
}
