//NAV

nav {
	height: 100%;
	width: 9rem;
	position: fixed;
	z-index: 10;
	top: 0;
	left: 0;
	background-color: $dark-card-color;
	color: $prim-text-color;
}

.nav-links {
	@include flex(space-evenly, center, column);
	flex: 1;
}

.nav-icon a {
	margin: 2rem;
	padding: 1rem;
	width: 6rem;
	height: 6rem;
	border-radius: 50%;
	cursor: pointer;
	background-color: #353a3e;
	transition: all 200ms ease-in-out;
	@include flex(center, center, row);
	@include expand();
	@include shadow();
}

.nav-icon a.active {
	width: 7rem;
	height: 7rem;
	svg path {
		fill: #5dd98a;
	}
}

//HERO
.hero {
	background-image: linear-gradient(to top, rgba(0, 0, 0, 0.25), transparent),
		url("../img/IMG_1135.png");
	background-repeat: no-repeat;
	background-position: bottom;
	position: relative;
	min-height: 60vh;
	overflow: hidden;
	margin-left: 9rem;
}

.hero-wrapper {
	width: 90%;
	margin: auto;
	h2 {
		font-size: 6rem;
		z-index: 100;
	}
	h4 {
		font-size: 3rem;
		z-index: 100;
	}
}
.hero-path-overlay {
	position: absolute;
	bottom: -5%;
	left: -1px;
}

.hero-text {
	@include flex(center, flex-start, column);
	padding: 10rem;
}

@media screen and (max-width: 1000px) {
	.hero {
		background-image: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent),
			url("../img/IMG_1135.png");
		background-repeat: no-repeat;
		background-position: bottom;
		position: relative;
		min-height: 80vh;
		overflow: hidden;
		margin: 0;
	}

	.hero-wrapper {
		width: 90%;
		margin: auto;
		h2 {
			font-size: 7rem;
		}
		h4 {
			font-size: 3rem;
		}
		h2,
		h4 {
			text-align: center;
		}
	}
	.hero-path-overlay {
		position: absolute;
		bottom: -5%;
		left: -60%;
	}

	.hero-text {
		@include flex(center, center, column);
		z-index: 11;
	}
}
